@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Josefin+Slab|Arvo|Lato|Vollkorn|Abril+Fatface|Old+Standard+TT|Droid+Sans|Lobster|Inconsolata|Montserrat|Playfair+Display|Karla|Alegreya|Libre+Baskerville|Merriweather|Lora|Archivo+Narrow|Neuton|Signika|Questrial|Fjalla+One|Bitter|Varela+Round);

.background {
  fill: #eee;
  pointer-events: all;
}
#myCanvas
{
  border:1px solid #000000
}
.map-layer {
  fill: #fff;
  stroke: #aaa;
}

.effect-layer{
  pointer-events:none;
}

text{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

text.big-text{
  font-size: 30px;
  font-weight: 400;
}

.effect-layer text, text.dummy-text{
  font-size: 12px;
}
.box{
    border-radius: 1em;
    box-shadow: 1em 1em 2em 0em rgba(0, 0, 0, 0.16), 0em 2em 4em 0em rgba(0, 0, 0, 0.12);
    padding: 1em 2em;
    display: block;
    margin-top: 3em;
    border: 0.1em solid rgba(0, 0, 0, 0.1);
}
.box-icon
{
  margin: 0 auto;
  vertical-align: top;
  margin-top: -3em;
  display: table;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.boton
{
  position: absolute;
  bottom:  0.5em;
  left: 20%;
}
.check
{
  position: absolute;
  bottom:  0.5em;
  left: 10%;
}
.tweet-user
{
  font-weight: bold;
}
